<%= turbo_frame_tag quote do %>
  
  <div class="flex justify-between items-start gap-3 bg-white rounded shadow p-3">
    <%= link_to quote.name, quote_path(quote), data: { turbo_frame: "_top" } %>
    <div class="flex gap-2">
      <%= button_to "Delete",
                    quote_path(quote),
                    method: :delete,
                    form: { data: { turbo_frame: "_top" } },
                    class: "px-3 py-2 rounded-md border border-solid bg-red-500 text-white font-bold hover:text-white hover:bg-red-600" %>
      <%= button_link "Edit", edit_quote_path(quote) %>
    </div>
  </div>
<% end %>