<% content_for :main_title do %>
  <%= link_to quotes_path do %>
    <h1>My Quotes</h1>
  <% end %>
<% end %>

<%= turbo_frame_tag Quote.new %>

<%= turbo_frame_tag "quotes" do %>
  <div class="flex flex-col gap-3">
    <%= render @quotes %>
  </div>
<% end %>