<% content_for :main_title do %>
  <%= link_to quotes_path do %>
    <h1>New Quote</h1>
  <% end %>
<% end %>

  <%= turbo_frame_tag @quote do %>
    <%= render "form", quote: @quote %>
  <% end %>

  
<div class="flex justify-end pt-4">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>
</div>